*.ini
*.log
*.jou
*.wlf
transcript
prj/
work/
.Xil/
*.gen/

*.db
__pycache__/
*/*.xdc
*/*.veo
*/*.vho
*/*.xml
*/*.dcp
.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/property.json
tools/modelsim/*/*.txt
tools/modelsim/*/*.csv
tools/modelsim/*/results/
# ignore unisim library. It is a bit big and may not suppose be open sourced?
unisim
*.vstf
~$*
*ws/