*.ini
*.log
*.jou
*.wlf
transcript
prj/
work/
.Xil/
*.gen/

*.db
__pycache__/
*/*.xdc
*/*.veo
*/*.vho
*/*.xml
*/*.dcp
.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/property.json
tools/sim_pulsechannel/*.txt
tools/sim_pulsechannel/*.csv
tools/sim_pulsechannel/results/
# ignore unisim library. It is a bit big and may not suppose be open sourced?
unisim
*.vstf
~$*